# Секреты
.env

# Генерируемые файлы подписок
subs/*.txt
subs/qr*.png

# Бинарные файлы (большие, не для git)
subs/*.apk

# Состояние сервера
*.hex
/var/lib/olcrtc/

# Временные файлы
*.swp
.DS_Store
